/* src/style.css */
@import "tailwindcss";

/* You can add your custom Material UI theme variables here too */
@theme {
  --color-brand-purple: #a855f7;
  --color-brand-blue: #3b82f6;
  --color-vite-bg: #0a0a0a;
}